*{
    margin: 0;
    padding: 0;

}
#navbar{
    background-color: black;
    max-height: 300px;
    width: 100%;
    display: flex;
    position: relative;

}


#logo img{
    height: 100px;
    width: 100px;
}
#navbar ul{
    display: flex;
    margin: 39px 21px;
}
#navbar ul li{
    border: 2px solid green;
    padding: 2px 33px;
    border-radius: 12px;
    width: 85px;
}
#navbar ul li a{
    padding: 2px 20px;
}
.home{
    height: 375px;
    width: 100%;
    background: url("img2.jpg");
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}